<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mangocity.mapper.TrainOrderItemMapper">

  <resultMap type="OrderItem" id="orderItemMap">
		<id property="id" column="id" />
		<result property="orderId" column="order_id" />
		<result property="goodsType" column="goods_type" />
		<result property="price" column="price" />
		<result property="orderTime" column="order_time"/>
  </resultMap>
  
  <insert id="save" parameterType="OrderItem" keyProperty="id" useGeneratedKeys="true">
    insert into t_train_order_item(order_id,goods_type,order_time)
     values(#{orderId},#{goodsType},#{orderTime})
  </insert>
  

  <select id="findOrderItemListById" resultMap="orderItemMap">
    select id,order_id,goods_type,price,order_time from t_train_order_item where id in
      <foreach collection="list" index="index" open="(" separator="," close=")" item="id">
        #{id}
      </foreach>
    
  </select>
  

  <delete id="delete" parameterType="java.lang.Long">
     delete from t_train_order_item where id=#{id}
  </delete>
  
  <update id="update" parameterType="OrderItem">
     update t_train_order_item set goods_type=#{goodsType} where id=#{id}
  </update>
  
  <select id="find" parameterType="java.lang.Long" resultMap="orderItemMap">
     select id,order_id,goods_type,order_time from t_train_order_item where id = #{id}
  </select>
  
  <select id="findOrderItemByOrderId" parameterType="java.lang.Long" resultMap="orderItemMap">
     select id,order_id,goods_type,order_time from t_train_order_item where order_id = #{orderId}
  </select>
  
  <select id="findOrderItemByOrderIdAndGoodsType" parameterType="java.util.HashMap" resultMap="orderItemMap">
       select id,order_id,goods_type,order_time from t_train_order_item where order_id = #{orderId} and goods_type =#{goodsType}
  </select>
  
  <select id="pageBySql" resultMap="orderItemMap">
      select id,order_id,goods_type,order_time from t_train_order_item  limit #{startNum},#{pageSize}
  </select>
   

</mapper>

